# Binaries
**/bin/
bin-int/
Intermediates/

# Volition files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Volition/vendor/VulkanSDK
Spine/assets/cache
scripts/__pycache__
